api.chaeso-zip.com {
    tls /certs/origin.pem /certs/origin.key {
        client_auth {
            mode       require_and_verify
            trust_pool file /certs/aop-ca.pem
        }
    }
    reverse_proxy app:{$APP_PORT:8080} {
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
    }
}
